<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory suffix="Test.php">auto-test</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix="Test.php">auto-test</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="test-results/coverage"/>
        </report>
    </coverage>
</phpunit>